<%- include('partials/header') %>

<div class="test">
<img src="media/sizeguide.jpg" style="width:600px;height:700px;align-items:center;margin-bottom:50px;">
</div>

<%- include('partials/footer') %>
